.sidebar {
  transition: all 0.125s;
  border-right: 1px solid #f0f0f0;
}

.app-brand {
  width: 100%;
  justify-content: center;
  padding: 0.5rem;
}

.app-feature {
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: unset;
  hight: fit-content;
  user-select: none;
}

.app-feature .ant-menu {
  width: 100%;
  height: fit-content;
  min-height: 100%;
}

.app-feature .ant-menu .ant-menu-item {
  justify-content: center;
}

.app-sub-feature {
  margin-top: 0.5rem;
  width: 100%;
  user-select: none;
}

.app-sub-feature .ant-menu {
  width: 100%;
  height: fit-content;
}

.app-sub-feature .ant-menu .ant-menu-item {
  justify-content: center;
}

.app-collapse-button {
  width: 100%;
  padding: 0.5rem;
}

.app-collapse-button button {
  width: 100%;
  transition: all 0.125s;
}

.app-content {
  padding: 0 24px 24px;
  height: 100vh;
  overflow-y: auto;
}
