.mac-buttons {
  padding: 0.5rem;
}
.mac-buttons .btn {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-right: 0.375rem;
}

.mac-buttons .btn:last-child {
  margin-right: 0;
}

.mac-buttons .btn:before,
.mac-buttons .btn:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.mac-buttons .close-btn {
  background: #ff5d5b;
  border: 1px solid #cf544d;
}

.mac-buttons .min-btn {
  background: #ffbb39;
  border: 1px solid #cfa64e;
}

.mac-buttons .max-btn {
  background: #00cd4e;
  border: 1px solid #0ea642;
}

/* Close btn */
.mac-buttons .close-btn:before,
.mac-buttons .close-btn:after {
  width: 1px;
  height: 70%;
  background: #460100;
}

.mac-buttons .close-btn:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.mac-buttons .close-btn:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* min btn */
.mac-buttons .min-btn:before {
  width: 70%;
  height: 2px;
  background: #460100;
}

/* max btn */
.mac-buttons .max-btn:before,
.mac-buttons .max-btn:after {
  width: 1px;
  height: 70%;
  background: #460100;
}

.mac-buttons .max-btn:before {
  transform: translate(-50%, -50%) rotate(0deg);
}

.mac-buttons .max-btn:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* Hover function */
.mac-buttons .btn:hover:before,
.mac-buttons .btn:hover:after {
  top: 50%;
  opacity: 1;
}
